素材/
webapp/avision/Runtime/
webapp/public/wxpay/cert/
logs/
webroot/vodfile/
webroot/room/
webroot/block/
webroot/doc/
webroot/test/
webroot/files/
sslkeys/
webroot/chunks/
webroot/Public/jeasyui/
webroot/Public/jeasyui_old/
vendor/
secret/
ssl证书/
document/
不上传的文档/
*.bak
*.log
*.mp4
*.scc
*.tmp
*.xml
webroot/home/default_w/images/sky3.jpg
webapp/avision/Lib/Action/HDPlayerAction.class_OLD.php
webapp/avision/Tpl/Home/index - 20180418.html
webapp/avision/Tpl/Home/index_20180908.html
webapp/avision/Tpl/Home/index - 20180418.html
webroot/t.html
webapp/public/aliyun/
webapp/public/baidu/
webapp/public/wxpay/
webapp/public/Wx*.*

*.tlog
webroot/player/js/keepAlive - 20181206.js
*.ts
*.m3u8

webroot/player/winter/css/webChat - 副本.css
webroot/player/default/css/webChat - 副本.css
webapp/public/CommonFun20191219.php
webroot/kindeditor/
webroot/adplay.html
webroot/alplay.html
webroot/c.html
webroot/player/js/playpage3.6.min.js
webroot/t.php
webroot/t3.html
webroot/Public/images/answer.png

webapp/avision/Tpl/CH_ccjyj.2020_06_08/index.html
webapp/avision/Tpl/CH_ccjyj.2020_06_08/index_1w.html
webapp/avision/Tpl/CH_ccjyj.2020_06_08/userInfo.html
webapp/avision/Lib/Action/CH_ccjyjAction.class.2020_06_08
webapp/public/aliyun/
webapp/public/aliyun/Sms.Config.php

