@CHARSET "UTF-8";
#infoShow div{
	width:100%;
	margin: 0px;
	padding: 0;
}

#infoShow p{
    display: block;
    /*-webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;*/
	word-wrap:break-word;
}

.txtIndent{
	text-indent:1em;
	line-height:1em;
}
