@CHARSET "UTF-8";
/* 互动聊天区样式 V3.1*/

.wechat-container{
	/* 聊天区总容器，垂直弹性布局，通过聊天信息区自动伸缩，自动适应底部功能区高度的变化 */
	display: flex;
	flex-flow: column nowrap;
	position: relative;
	height:100%;width: 100%;
}
#chatMsg{
	/*聊天信息容器*/
	position: relative;
	box-sizing: border-box;
	flex-shrink:2;
	top:0px;
	left:0px;
	padding: 0px 0px;
	background:#eee;
	overflow-x:hidden;
	overflow-y:auto;
	width:100%;
	height: 100%;
}
.chat-item, .chat-item div{
	position: relative;
	box-sizing: border-box;
}
.chat-item{
	/* 一条聊天信息容器*/
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	width: 100%;
	padding: 5px 10px;

}
.chat-item .left-box{
	/*聊天左侧块*/
	display: inline-block;
	width: 40px;
}
.chat-item .right-box{
	/*聊天右侧块*/
	display: inline-block;
	margin-left:5px;
	width: 90%;
	line-height: 12px;
}

.chat-item .left-box .bg-img{
	width: 32px;
	/*padding-top: 100%;*/
	height:32px;
	background-size: cover;
	background-position: center;
	background-color: #0b89ca;
	border-radius: 50%;
}
.chat-item .right-box .msg-info{
	/*信息发送者，时间等附加信息*/
	font-size: 8px;
	color: #aaa;
}
.chat-item .right-box .msg-text{
	/*聊天信息文本*/
	display:inline-block;
	margin-top: 2px;
	padding: 5px 8px;
	border-radius: 5px;
	font-size: 14px;
	line-height: 16px;
	white-space: pre-wrap;
	color: #3f3f3f;
	background-color: #fff;
}

#chat-bottom, #newMsg, #newMsg div{
	box-sizing: border-box;
}
#chat-bottom{
	/*聊天窗口底部内容*/
	display:block;
	---position:fixed;
	flex-shrink:0;
	width: 100%;
	bottom:0;
	z-index:99;

}
#newMsg{
	/*新信息输入相关*/
	display:flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	width: 100%;
	background:#f3f4f5;
	padding: 5px 5px 8px 6px;
	border-top: 1px solid #ddd;
	font-size: 16px;
}

#newMsg .func-btn{
	/* 功能按钮 */
	flex-shrink:0;
	align-items: flex-start;
	margin: 0 4px;
	font-size: 20px;
}

#newMsg .input-box{
	/* 输入框 */
	display:block;
	width:90%;
	margin: 0 6px;
	padding: 5px 10px;
	max-height: 48px;
	overflow-y: auto;

	flex-shrink:2;
	background-color: #fff;
	line-height:30px;
	user-modify: read-write-plaintext-only;
	-webkit-user-modify: read-write-plaintext-only;
	line-height: 16px;

}
#newMsg .input-box:focus{ outline: none; }

#newMsg .txt-btn{
	height: 26px;
	font-size: 14px;
	color: #fff;
	padding: 3px 8px;
	border-radius: 3px;
	background-color: #00ba00;
}

#chat-bottom .popup-box {
	display: none;

}
#emoji ul{
	/*---display: flex;
	-flex-flow: row wrap;
	-justify-content: space-around;*/
	margin:0;
	padding: 10px 15px;
	white-space: normal;
	list-style: none;
	font-size: 0;
}
#emoji li{
	display: inline-block;
	font-size: 20px;
	width: 26px;
	text-align: center;
	margin:5px;
}

/* 提示载入聊天信息消息 */
#chatMsg .loadmsg{
	text-align: center;
	padding:10px 0;
	font-size: 8px;
	color: #aaa;
}

.textLargeFont{
	font-size: 24px !important;
	line-height: 28px !important;
}

.infoLargeFont{
	font-size: 16px !important;
	line-height: 20px !important;
}