/*------------------------------------------------------------------

[Application.css]

	Project:		Dashboard
	Version:		1.0
	Last change:	10/10/2012


-------------------------------------------------------------------*/
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*------------------------------------------------------------------

[Typography Styles]

-------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-weight: 600;
}
h1 + hr,
h2 + hr,
h3 + hr,
h4 + hr,
h5 + hr,
h6 + hr {
    margin-top: -10px;
    margin-bottom: 2.5em;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
p {
    margin-bottom: 1em;
}
ul.list li {
    margin-bottom: .65em;
}
.title {
    padding-bottom: 5px;
    margin-bottom: 1em;
    border-bottom: 1px dotted #CCC;
}

/*------------------------------------------------------------------

Bootstrap Styles

------------------------------------------------------------------- */
.container {
    position: relative;
}
select {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* Buttons */
.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #92b765;
    background-image: -moz-linear-gradient(top, #a0c277, #7da64b);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a0c277), to(#7da64b));
    background-image: -webkit-linear-gradient(top, #a0c277, #7da64b);
    background-image: -o-linear-gradient(top, #a0c277, #7da64b);
    background-image: linear-gradient(to bottom, #a0c277, #7da64b);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa0c277', endColorstr='#ff7da64b', GradientType=0);
    border-color: #7da64b #7da64b #567233;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #7da64b;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    color: #ffffff;
    background-color: #7da64b;
    *background-color: #709543;
}
.btn-primary:active,
.btn-primary.active {
    background-color: #63833b \9;
}
.btn-secondary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #268ead;
    background-image: -moz-linear-gradient(top, #2ca1c5, #1f718a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2ca1c5), to(#1f718a));
    background-image: -webkit-linear-gradient(top, #2ca1c5, #1f718a);
    background-image: -o-linear-gradient(top, #2ca1c5, #1f718a);
    background-image: linear-gradient(to bottom, #2ca1c5, #1f718a);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2ca1c5', endColorstr='#ff1f718a', GradientType=0);
    border-color: #1f718a #1f718a #113e4c;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #1f718a;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary.disabled,
.btn-secondary[disabled] {
    color: #ffffff;
    background-color: #1f718a;
    *background-color: #1a6076;
}
.btn-secondary:active,
.btn-secondary.active {
    background-color: #154f61 \9;
}
.btn-tertiary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #979797;
    background-image: -moz-linear-gradient(top, #a6a6a6, #828282);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a6a6a6), to(#828282));
    background-image: -webkit-linear-gradient(top, #a6a6a6, #828282);
    background-image: -o-linear-gradient(top, #a6a6a6, #828282);
    background-image: linear-gradient(to bottom, #a6a6a6, #828282);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa6a6a6', endColorstr='#ff828282', GradientType=0);
    border-color: #828282 #828282 #5c5c5c;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #828282;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-tertiary:hover,
.btn-tertiary:active,
.btn-tertiary.active,
.btn-tertiary.disabled,
.btn-tertiary[disabled] {
    color: #ffffff;
    background-color: #828282;
    *background-color: #757575;
}
.btn-tertiary:active,
.btn-tertiary.active {
    background-color: #696969 \9;
}

/*------------------------------------------------------------------

Signin

------------------------------------------------------------------- */
body.login {
    color: #838383;
    font: 13px/1.7em 'Open Sans';
    background: url(../images/signin/login-bg.png);
}
.account-container {
    width: 380px;
    display: block;
    margin: 75px auto 0 auto;
    background: #f9f9f9;
    border: 1px solid #d5d5d5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.account-container h1 {
    margin-bottom: .4em;
    color: #263849;
    font-size: 30px;
}
.content {
    padding: 16px 28px 20px;
}
.login-fields .field {
    margin-bottom: 1.25em;
}
.login-fields label {
    display: none;
}
.login-fields input {
    font-family: 'Open Sans';
    font-size: 16px;
    color: #8e8d8d;
    padding: 11px 15px 10px 50px;
    background-color: #fdfdfd;
    width: 255px;
    display: block;
    margin: 0;
    box-shadow: inset 2px 2px 4px #f1f1f1;
    border: 1px solid #8e8d8d;
    height: 16px;
}
.login-fields .username-field {
    background: url(../images/signin/user.png) no-repeat;
}
.login-fields .password-field {
    background: url(../images/signin/password.png) no-repeat;
}
.login-actions {
    /* float: left; */
    position: relative;
    clear: both;
    width: 100%;
    height: 60px;
    margin-top: -1em;
    margin-bottom: 1.25em;
}
.login-social {
    /*float: left;*/
    position: relative;
    clear: both;
    width: 100%;
    margin-top: 1em;
    padding: 10px 0 10px;
    border: 1px dotted #CCC;
    border-right: none;
    border-left: none;
}
.login-social p {
    margin-bottom: 1em;
}
.login-extra {
    display: block;
    width: 100%;
    margin: 1.5em auto;
    text-align: center;
    line-height: 19px;
    text-shadow: 1px 1px 0px #fff;
}
span.login-checkbox {
    float: left;
    margin-top: 31px;
}
span.login-checkbox > input[type='checkbox'] {
    opacity: 0;
    float: left;
    width: 15px;
}
span.login-checkbox > input[type='checkbox'] + label {
    clear: none;
    height: 15px;
    display: block;
    padding: 0 0 0 22px;
    margin: 0;
    font-size: 12px;
    line-height: 1.2em;
    background: url(../images/signin/check.png) no-repeat 0 0;
    cursor: pointer;
}
span.login-checkbox > input[type='checkbox']:checked + label {
    background-position: 0 -15px;
}
/** Buttons **/
.btn_extlogin{
    position: relative;
    height: 32px;
    width: 157px;
    display: inline-block;
}
.twitter{
    background: url(../images/signin/wechat_btn.png) no-repeat;
}

.twitter:active,
.fb:active {
    top: 1px;
}
.twitter:hover,
.fb:hover {
    background-position: 0 -32px;
}
.twitter a,
.fb a {
    padding: 5px 0 0 55px;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    height: 32px;
    display: block;
}
.twitter a:hover,
.fb a:hover {
    color: #FFF;
    text-decoration: none;
}
.fb {
    width: 162px;
    background: url(../images/signin/fb_btn.png) no-repeat;
}
.fb a {
    padding: 5px 0 0 31px;
}
.button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    float: right;
    margin-top: 18px;
}
.register .login-social {
    margin-bottom: 1em;
}
.register .login-actions {
    margin-bottom: 0;
}
.register .login-fields input {
    width: 299px;
    padding-left: 6px;
}
.register h1 {
    color: #444;
}
.register span.login-checkbox {
    position: relative;
    top: -6px;
    width: 200px;
}
.register span.login-checkbox > input[type="checkbox"] + label {
    position: relative;
    line-height: 1.3em;
}
@media (max-width: 480px) {
    .account-container {
        width: 280px;
        margin-top: 35px;
    }
    .login-fields input {
        width: 160px;
    }
    .login-social {
        width: 100%;
    }
    .twitter {
        display: block;
        margin-bottom: 1em;
    }
    .register .login-fields input {
        width: 204px;
        padding-left: 6px;
    }
}
/*------------------------------------------------------------------

Validation Styles

------------------------------------------------------------------- */
.control-group span.error {
    color: #B94A48;
    font-size: 11px;
    font-weight: 600;
    position: relative;
    top: 5px;
    padding: 4px 8px;
    margin-bottom: 1em;
    color: #FFF;
    background: #B94A48;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
}
.control-group span.error::after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #B94A48;
    position: absolute;
    top: -6px;
    left: 7px;
}
.control-group.error {
    padding-bottom: .5em;
}
.control-group.error div.clean {
    display: none;
}
.control-group.success span.error {
    display: none !important;
}
.control-group.success span.error::after {
    border: none;
}
.control-group.success div.clean {
    position: relative;
    top: 5px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../img/validation/validation-success.png) no-repeat 0 0;
}
.control-group.success input + div.clean,
.control-group.success select + div.clean,
.control-group.success textarea + div.clean {
    left: 8px;
}

/*------------------------------------------------------------------

Error

------------------------------------------------------------------- */
.error-container {
    margin-top: 1em;
    margin-bottom: 6em;
    text-align: center;
}
.error-container h1 {
    margin-bottom: .5em;
    font-size: 120px;
    line-height: 1em;
}
.error-container h2 {
    margin-bottom: .75em;
    font-size: 28px;
}
.error-container .error-details {
    margin-bottom: 1.5em;
    font-size: 16px;
}
.error-container .error-actions a {
    margin: 0 .5em;
}
@media (max-width: 480px) {
    .error-container h1 {
        font-size: 72px;
    }
}

/*------------------------------------------------------------------

Gallery

------------------------------------------------------------------- */
.gallery-container {
    margin: 0;
    margin-bottom: 20px;
    list-style: none;
    text-align: center;
}
.gallery-container li {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
    margin-bottom: 2em;
    border: 1px solid #d3d3d3;
    position: relative;
    padding: 7px;
    box-sizing: border-box;
}
.gallery-container img {
    position: relative;
    z-index: 10;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.stat {
    display: inline-block;
}
.stacked,
.gallery-container li {
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.stacked:after,
.gallery-container li :after,
.stacked:before,
.gallery-container li :before {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    bottom: -3px;
    left: 3px;
    right: 3px;
    background-color: #ffffff;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    border: 1px solid #d3d3d3;
    border-top: 0;
}
.stacked:before,
.gallery-container li :before {
    bottom: -5px;
    left: 6px;
    right: 6px;
}

/*------------------------------------------------------------------

Layout: Layout

------------------------------------------------------------------- */
body {
    font: 12px/1.7em 'Open Sans', arial, sans-serif;
    background: #FFF;
}
/*------------------------------------------------------------------

Layout: Wrapper

------------------------------------------------------------------- */
html,
body {
    height: 100%;
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -61px;
}
.push {
    height: 50px;
}

/*------------------------------------------------------------------

Layout: Content

------------------------------------------------------------------- */
#content {
    margin-top: 3em;
    margin-bottom: 8em;
}
#content .row {
    margin-top: 5em;
}
#content .row:first-child {
    margin-top: 0;
}

